@import "../GIFOS/Styles/_header.scss";

@import "../GIFOS/Styles/_crearGif.scss";

@import "../GIFOS/Styles/_inicio.scss";

@import "../GIFOS/Styles/_footer";

@import "../GIFOS/Styles/_trendingGifos";

@import "../GIFOS/Styles/_mascotas";

@import "../GIFOS/Styles/_favoritos";

@import "../GIFOS/Styles/_misGIFOS";

@import "../GIFOS/Styles/_mediaQuerys";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}
