/*Header Mobile*/
.header {
  background-color: white;
  width: 100%;
  z-index: 3;
  position: relative;
  border-top: 5px solid #572ee5;
  display: block;
}

.header .logo {
  float: left;
  display: block;
  margin: 7.733333vw 0 4.586666vw 5.86666vw;
}

.header .logo img {
  width: 48.8px;
  height: 48.8px;
}

.header #burguerBtn {
  margin: 12.5333333vw 0 9.86666666vw 68.48vw;
}

.header .Background1 {
  width: 100%;
  background-color: #572EE5;
  opacity: 0.9;
  height: 30rem;
  z-index: -5;
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .hidden {
  display: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
  position: absolute;
  color: white;
  text-align: center;
}

.header ul li a {
  color: white;
  display: block;
  padding: 10px 0 24px 16px;
  line-height: 28px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.episodiosnav {
  padding-top: 16px;
}

/*header tablet*/
@media only screen and (min-width: 800px) {
  .header .logo {
    font-size: 3vw;
  }
}

main #inicio #tituloInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  margin-bottom: 31px;
}

main #inicio #tituloInicio h1 {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 8vw;
  line-height: 8.5vw;
  text-align: center;
}

main #inicio #tituloInicio h1 #verde {
  color: #5ed7c6;
}

.barraBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ilustacion {
  margin: 0 13.6% 0 13.6%;
  width: 72.8%;
}

#busqueda {
  text-align: center;
  width: 90%;
  height: 2.5rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: #572ee5 2px solid;
  border-radius: 10vw;
  border-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#inputid {
  font-family: "Roboto", sans-serif;
  border: none;
}

#lupa {
  text-align: center;
  width: 5%;
}

#trendig div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#trendig div #tituloTrendig {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-weight: bold;
  line-height: 25px;
  padding: 2px;
  margin-top: 4vh;
}

#trendig div #textoTrending {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #572ee5;
  line-height: 25px;
  font-weight: 10;
  font-size: 1rem;
}

#footer {
  border-bottom: 5px solid #572ee5;
}

.contentFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.textoFooter1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 6.714285714285714vh 37.6vw 3.142857142857143vh 37.6vw;
}

.foto {
  padding-right: 5.06vw;
}

.logos {
  margin-left: 5vw;
}

.textoFooter2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-top: 6.57vh;
  padding-bottom: 3.28571vh;
}

#trendingGIFOS {
  margin-top: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #F3F5F8;
  padding-top: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#trendingGIFOS #tituloTrendGifos {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 5.33vw;
}

.mascotas {
  xdisplay: none;
}

#parrafoTrend {
  font-family: "Roboto", sans-serif;
  font-weight: "400";
  margin: 3vw;
}

#imgsTrendGifos {
  position: relative;
  display: block;
  width: 280vw;
  overflow: hidden;
}

#imgsTrendGifos img {
  width: 200px;
  height: 200px;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 5.6vw;
  margin-left: 5.6vw;
  margin-right: 5.6vw;
}

h3 {
  color: #572ee5;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 11.4vw 0 11.4vw 0;
  font-size: 6.6vw;
}

#verMas {
  color: #572ee5;
  border: #572ee5 solid 1px;
  border-radius: 10rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20vw;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */