#trendingGIFOS {
  margin-top: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f3f5f8;
  padding-top: 5vw;
  flex-wrap: wrap;
  #tituloTrendGifos {
    color: #572ee5;
    font-family: "Montserrat", sans-serif;
    font-size: 5.33vw;
  }
}

#parrafoTrend {
  font-family: "Roboto", sans-serif;
  font-weight: "400";
  margin: 3vw;
}

#imgsTrendGifos {
  position: relative;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  padding: 10px;
  height: 15rem;
  background-color: #f3f5f8;
  img {
    width: 200px;
    height: 200px;
  }
}
