#trendingGIFOS {
  margin-top: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:#F3F5F8 ;
  padding-top: 5vw ;
  flex-wrap: wrap;
    #tituloTrendGifos {
      color: #572ee5;
      font-family: "Montserrat", sans-serif;
      font-size: 5.33vw ;
        
}
}

.mascotas {
  xdisplay: none;
}

#parrafoTrend {
  font-family: "Roboto", sans-serif;
  font-weight: "400";
  margin: 3vw;
}

#imgsTrendGifos {
  position: relative;
  display: block;
  width: 280vw;
  overflow: hidden;
  img {
    width: 200px;
    height: 200px;
  }

}
